h1{
    color: darkcyan;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin-top: 90px
}
p{
    font-size: 26px;
    text-align: justify;
}